<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopt Pet - With more adoptable pets than ever, we have an urgent need for pet adopters</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="https://cdn2.iconfinder.com/data/icons/charity-31/512/CharityIcons-50-512.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        .dropdown:hover .dropdown-menu {
            display: block;
        }
    </style>
</head>

<body class="font-inter">
    <div class="container px-8 mx-auto lg:px-32 xl:px-40">
        <!-- Navbar -->
        <nav class="py-4">
            <div class="flex flex-wrap items-center justify-between mx-auto">
                <!-- logo -->
                <a href="#" class="flex">
                    <svg class="h-10 mr-3" viewBox="0 0 52 72" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.87695 53H28.7791C41.5357 53 51.877 42.7025 51.877 30H24.9748C12.2182 30 1.87695 40.2975 1.87695 53Z" fill="#76A9FA"/><path d="M0.000409561 32.1646L0.000409561 66.4111C12.8618 66.4111 23.2881 55.9849 23.2881 43.1235L23.2881 8.87689C10.9966 8.98066 1.39567 19.5573 0.000409561 32.1646Z" fill="#A4CAFE"/><path d="M50.877 5H23.9748C11.2182 5 0.876953 15.2975 0.876953 28H27.7791C40.5357 28 50.877 17.7025 50.877 5Z" fill="#1C64F2"/></svg>
                    <span class="self-center text-lg font-semibold whitespace-nowrap ">YoPet</span>
                </a>

                <!-- menu -->
                <div class="flex md:order-2">
                    <div class="relative inline-block dropdown">
                        <button class="inline-flex items-center px-4 py-2 font-semibold text-gray-700 bg-gray-300 rounded">
                          <span class="mr-1">Juliadit</span>
                          <svg class="w-4 h-4 ml-2 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
                        </button>
                        <ul class="absolute hidden pt-1 text-gray-600 dropdown-menu">
                            <li class=""><a class="block px-4 py-2 whitespace-no-wrap bg-gray-200 rounded-t hover:text-white hover:bg-blue-500" href="#">Profile</a></li>
                            <li class=""><a class="block px-4 py-2 whitespace-no-wrap bg-gray-200 hover:bg-red-500 hover:text-white" href="#">Logout</a></li>
                        </ul>
                    </div>
                </div>
                <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1">
                    <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
                        <li>
                            <a href="index.html" class="block py-2 pl-3 pr-4 font-semibold text-gray-400 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 ">Home</a>
                        </li>
                        <li>
                            <a href="forum.html" class="block py-2 pl-3 pr-4 font-semibold text-gray-400 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 ">Forum</a>
                        </li>
                        <li>
                            <a href="aboutus.html" class="block py-2 pl-3 pr-4 font-semibold text-gray-400 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 ">About us</a>
                        </li>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>

        <!-- header -->
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

        <div class="bg-white">

            <main class="my-4">
                <div class="container mx-auto">
                    <!-- <div class="overflow-hidden bg-center bg-cover rounded-md h-96" style="background-image: url('images/dog.jpg')">
                        <div class="flex items-center h-full bg-gray-900 bg-opacity-50">
                            <div class="max-w-xl px-10">
                                <h2 class="text-2xl font-semibold text-white md:text-3xl">Adopt a Dog</h2>
                                <p class="mt-2 text-white opacity-50 md:mt-4">Adopting is often less expensive than buying a new one. The average cost to purchase a puppy is between $300 and $1,500, while the average adoption fee is much lower, typically between $50 and $300. </p>
                                <button class="flex items-center px-3 py-3 mt-4 text-sm text-white uppercase rounded-lg md:mt-8 bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                            <span class="pl-2 font-semibold">Adopt Now</span>
                            <svg class="w-5 h-5 mx-2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M17 8l4 4m0 0l-4 4m4-4H3"></path></svg>
                        </button>
                            </div>
                        </div>
                    </div> -->
                    <div class="mt-8 md:flex md:-mx-4">
                        <div class="w-full h-64 overflow-hidden bg-center bg-cover rounded-md md:mx-4 md:w-1/2" style="background-image: url('images/cat.jpg')">
                            <div class="flex items-center h-full bg-gray-900 bg-opacity-50">
                                <div class="max-w-xl px-10">
                                    <h2 class="text-2xl font-semibold text-white">Adopt a pet</h2>
                                    <p class="mt-2 text-gray-400"></p>
                                    <a href="adopt.html" class="flex items-center mt-4 text-sm font-semibold text-white uppercase rounded hover:underline focus:outline-none">
                                        <span>Adopt Now</span>
                                        <svg class="w-5 h-5 mx-2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M17 8l4 4m0 0l-4 4m4-4H3"></path></svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="w-full h-64 mt-8 overflow-hidden bg-center bg-cover rounded-md md:mx-4 md:mt-0 md:w-1/2" style="background-image: url('images/rabbit.jpg')">
                            <div class="flex items-center h-full bg-gray-900 bg-opacity-50">
                                <div class="max-w-xl px-10">
                                    <h2 class="text-2xl font-semibold text-white">Post a pet</h2>
                                    <p class="mt-2 text-gray-400"></p>
                                    <a href="post.html" class="flex items-center mt-4 text-sm font-medium text-white uppercase rounded hover:underline focus:outline-none">
                                        <span>Post Now</span>
                                        <svg class="w-5 h-5 mx-2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M17 8l4 4m0 0l-4 4m4-4H3"></path></svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
            </main>
            </div>



            <!-- Pet Available -->
            <div class="mt-12">
                <div class="">
                    <div class="flex justify-between">
                        <h1 class="text-xl font-semibold md:text-2xl">Pets Available for Adoption</h1>
                        <a class="text-slate-400 hover:text-blue-500" href="#">See more</a>
                    </div>
                    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
                        <!-- items 1 -->

                        <div class="max-w-full my-4 overflow-hidden bg-white rounded-lg shadow-lg">
                            <a href="adekurniawan.html">
                                <img class="object-cover object-center w-full h-56" src="availablepet/persian-cat.jpg" alt="avatar">
                                <div class="flex items-center justify-between px-6 py-3 bg-gradient-to-r from-cyan-500 to-blue-500">
                                    <h1 class="font-semibold text-white">Cat <span> : </span> <span>Persian</span></h1>
                                    <a class="tracking-wide text-white hover:text-blue-300" href="#">Detail</a>
                                </div>
                                <div class="px-6 py-4">
                                    <div class="flex items-center justify-between">
                                        <h1 class="text-2xl font-semibold text-gray-800">Ade Kurniawan</h1>
                                        <div class="flex md:order-2">
                                            <div class="relative inline-block dropdown">
                                                <button class="inline-flex items-center px-4 py-2 font-semibold text-gray-700 bg-gray-300 rounded">
                                                  <span class="mr-1"></span>
                                                  <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
                                                </button>
                                                <ul class="absolute hidden pt-1 text-gray-600 dropdown-menu">
                                                    <li class=""><a class="block px-4 py-2 whitespace-no-wrap bg-gray-200 hover:bg-red-500 hover:text-white" href="#">Delete</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="flex gap-4 py-2 text-sm text-gray-700 list-disc list-inside">
                                        <li>18 Month</li>
                                        <li>Male</li>
                                        <li>2.8 Kg</li>
                                    </ul>
                                    <div class="flex items-center mt-2 text-gray-700">
                                        <svg class="w-6 h-6 fill-current" viewBox="0 0 512 512">
                                        <path d="M256 32c-88.004 0-160 70.557-160 156.801C96 306.4 256 480 256 480s160-173.6 160-291.199C416 102.557 344.004 32 256 32zm0 212.801c-31.996 0-57.144-24.645-57.144-56 0-31.357 25.147-56 57.144-56s57.144 24.643 57.144 56c0 31.355-25.148 56-57.144 56z"/>
                                    </svg>
                                        <h1 class="px-2 text-sm">Bandung, Indonesia</h1>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>

                </div>
            </div>

            <!-- See more button -->
            <button class="flex px-8 py-2 mx-auto my-4 text-gray-400 border border-gray-300 rounded-lg hover:border-blue-600 hover:text-blue-600">
                See more
            </button>



        </div>

        <div class="">
            <footer class="text-gray-600 bg-gray-700 body-font">
                <div class="container p-8 px-8 mx-auto text-white lg:px-32 xl:px-40">
                    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
                        <div class="flex items-center">
                            <img class="w-24 h-24" src="https://cdn2.iconfinder.com/data/icons/charity-31/512/CharityIcons-50-512.png" alt="">
                            <div class="mt-2 ml-4">
                                <h1 class="text-xl font-semibold">YoPet</h1>
                                <p class="font-thin opacity-60">Adopt your next pet and give them second chance at life.</p>
                            </div>
                        </div>
                        <div class="mt-8 text-center md:text-left">
                            <h1 class="text-xl font-semibold">Information</h1>
                            <p class="mt-2 font-thin opacity-60">Website ini dibuat untuk memenuhi tugas besar mata kuliah Rekayasa Perangkat Lunak 2 Universitas Komputer Indonesia.</p>
                        </div>
                        <div class="mt-8 text-center md:text-left">
                            <h1 class="text-xl font-semibold">Anggota Kelompok :</h1>
                            <ul class="mt-2 font-thin opacity-60">
                                <li>10119142 - Mochammad Rafy Ardhanie</li>
                                <li>10119143 - Ade Kurniawan</li>
                                <li>101191 - Muhamad Farid Laksmana</li>
                                <li>10119147 - Juliadit Syahputra</li>
                                <li>10119152 - Resa Endrawan</li>
                                <li>10119167 - Siddiq Sanjaya Bakti</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <p class="py-4 text-center text-white bg-slate-800">
                    &copy; Copyright 2022 : Adopt Pet | All Rights Reserved
                </p>
            </footer>
</body>

</html>